{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>404</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Astounding Error Page Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'css/404_style.css' %}" rel='stylesheet' type='text/css'/><!-- style.css -->
<link href="//fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Playball" rel="stylesheet">
</head>
<body>
<div id="particles-js"></div>
	<div class="main-w3layouts">
	<h1>Astounding Error Page</h1>
		<div class="main-agile">
			<h2>Error 404</h2>
			<p>It's looking like you may have taken a wrong turn. Don't worry... It happens to the best of us.</p>
		<div class="botton-w3ls"><a href="{% url 'article:index' %}" title="回到首页">Back to home</a></div>
		</div>
		<div class="footer-w3l">
			<p class="agileinfo"> &copy; 2017 Astounding Error Page.</p>
		</div>
	</div>
	<script src="{% static 'js/404_particles.js' %}"></script>
	<script src="{% static 'js/404_app.js' %}"></script>
</body>
</html>