{% extends 'article/base.html' %}
{% load static from staticfiles %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock head %}

{% block content %}
    <article>
        <div class="container center_content">
            <div class="banner">
                <p data-scroll-reveal="enter top over 2s">我们不停的翻弄着回忆，却再也找不回那时的自己</p>
                <p data-scroll-reveal="enter left over 2s after 1s">人生，是一场盛大的遇见。若你懂得，就请珍惜。</p>
                <p data-scroll-reveal="enter bottom over 2s after 2s">无论下多久的雨，最后都会有彩虹；无论你多么悲伤，要相信幸福在前方等候.</p>
            </div>
            <div class="memorial_day">
                <div class="time_axis"></div>
                <ul>
                    <li class="n1"><a href="#">c语言入门</a>
                        <div class="dateview">2017-03</div>
                    </li>
                    <li class="n2"><a href="#">学习c++语法和思想</a>
                        <div class="dateview">2017-09</div>
                    </li>
                    <li class="n3"><a href="#">人生苦短 我用python</a>
                        <div class="dateview">2017-12</div>
                    </li>
                    <li class="n4"><a href="#">学习前端</a>
                        <div class="dateview">2018-04</div>
                    </li>
                    <li class="n5"><a href="#">我正在努力</a>
                        <div class="dateview">Now</div>
                    </li>
                </ul>
            </div>

            <div class="about">
                <h2>Just about me</h2>
                 <ul>
                    <p>史浩，2016年考入郑州大学西亚斯国际学院计算机系，目前还未毕业，在校学习。本着对计算机的兴趣和热情，在大一时便加入学校计算机工作室学习编程语言，目前学过的技术有c，c++，python，django，html5+css3，javascript，ajax，bootstrap，jquery框架，mysql，redis。永远不敢说自己学的多么精通，基本掌握罢了。</p>
                    <p>大一刚开始学习编程语言时，首先接触的c语言（好像大多数程序猿的入门语言都是c语言），大一下学期一直在学习c语言，做过一段时间的acm（感觉太烧脑），后来学习c++（语法确实有难度，学了挺长时间），再后来被python征服（简单高效），开始接触python，学习python的语法和各种常用框架的使用。</p>
                    <p>自我感觉python基础知识蛮简单的，大概是因为学过其他语言，之后学了python的一些库，如pygame，django，matplotlib，pygal等。后来使用pygame写了个游戏（感觉很有成就感），之后学习了django，为了检验自己的学习成果，决定写一个个人博客网站，做网站之前专门学习了前端知识（写了一年多的后台，忽然发现貌似前端比较有趣，哭），之后用了半个月的时间完成并部署了我的个人网站。</p>
                    <p>第一次做web网站，做的不足之处，可以在留言板帮忙留言（O(∩_∩)O谢谢），如果有其他问题也可以留言，或者加我的qq：249083992，网站的源码在github上面有（包括前端的代码，链接网站首页的最下面）。如果有需要学习资料的也可以找我，类似于c，c++，java，python，html+css等比较火的主流语言，我百度网盘资料都快存满了（免费的，本来就是学生，不指望赚钱），希望可以共同交流，共同学习。</p>
                </ul>
                <h2>About my blog</h2>
                <p>域  名：www.shihao.online</p>
                <p>服务器：阿里云服务器</p>
            </div>
        </div>
    </article>
{% endblock content %}