{% extends 'article/base.html' %}
{% load static from staticfiles %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/learn.css' %}">
    <script type="text/javascript" src="{% static 'js/learn.js' %}"></script>
    <script>
        $(function () {
            f1();

            $('.sort li').click(function () {       //为所有的类别绑定点击事件
                console.log($(this).attr('id'));
                window.location.href='/learn/'+$(this).attr('id')+'/1/';
            });

            $('.pages a:not(":first,:last")').click(function () {
                page_id=$(this).text();     //page_id为接下来要请求的页码号
                window.location.href='/learn/{{ category_id }}/'+page_id+'/';
            });

            function f1() {   //处理返回后的数据    data为字符串型
                result = {{ result|safe }};
                //刷新文章
                for (var i = 0; i < result.length; i++) {

                    $('.tmtimeline').append('<li><div class="row"><div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"> <time class="tmtime"> <span>'
                        +result[i][0]+
                        '</span> <span>'
                        +result[i][1]+
                        '</span> </time> <div class="tmicon"></div> </div> <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" data-scroll-reveal="enter right and move 50px over 1.2s"> <div class="tmlabel"> <h3>'
                        +result[i][2]+
                        '</h3> <div class="row"> <img src="/media/'
                        +result[i][3]+
                        '" class="col-xs-4 img-responsive blogpic"> <div class="col-xs-8">'
                        +result[i][4]+
                        '...</div> </div> <a href="/detail/'
                        +result[i][5]+
                        '/" class="readmore">阅读全文&gt;&gt;</a> </div> </div> </div> </li>'
                    );
                }
                //刷新页码
                if(parseInt({{num_pages}}) <= 5) {     //如果总页码数小于等于5
                    for(var i=1;i<=parseInt({{ num_pages }});i++){
                        $('.pages a:last').before('<a href="javascript:;">' +i+ '</a>');
                    }
                }else if(parseInt({{ page_id }})<=3){        //如果当前页码数小于等于3,显示前五页
                    for(var i=1;i<=5;i++){
                        $('.pages a:last').before('<a href="javascript:;">' +i+ '</a>');
                    }
                }else if(parseInt({{ page_id}})>parseInt({{ num_pages }})-2){    //当前页后面不足两页时
                    for(var i=0;i<5;i++){
                        $('.pages a:first').after('<a href="javascript:;">' +(parseInt({{ num_pages }})-i)+ '</a>');
                    }
                }else{
                    for(var i=-2;i<=2;i++){
                        $('.pages a:last').before('<a href="javascript:;">' +(parseInt({{ page_id }})+i)+ '</a>');
                    }
                }

                $('.pages a:not(":first,:last")').each(function () {    //为当前页加上active
                    if($(this).text()=={{ page_id }})
                        $(this).addClass('active');
                });

                $('.pages a:first').unbind("click").click(function () {
                    if(parseInt({{ page_id }})<=1)
                        alert('已经是第一页');
                    else
                        window.location.href='/learn/{{ category_id }}/{{ page_id|add:-1 }}';
                });
                $('.pages a:last').unbind("click").click(function () {
                    if(parseInt({{ page_id }})>=parseInt({{ num_pages }}))
                        alert('已经是最后一页');
                    else
                        window.location.href='/learn/{{ category_id}}/{{ page_id|add:1 }}';
                });
                scrollReveal.init();    //使用js动态写入的html,必须init初始化才能正常使用scrollReveal动画效果
            }
        })
    </script>
{% endblock head %}

{% block content %}
    <article>
        <div class="container center_content">
            <div class="subtitle">
                <h2 data-scroll-reveal="enter left and move 20px over 1s">学无止境</h2>
                <p class="hidden-xs" data-scroll-reveal="enter bottom and move 20px over 1s">不要轻易放弃。学习成长的路上，我们长路漫漫，只因学无止境。</p>
            </div>
            <ul class="sort" data-scroll-reveal="enter bottom and move 20px over 1s after 0.3s">
                <li id="0">全部</li>
                {% for t in category_list %}
                    <li id="{{ t.id }}">{{ t.cname }}</li>
                {% endfor %}
            </ul>

            <ul class="tmtimeline">
            </ul>

            <div class="pages">
                <a href="javascript:;">&lt;</a>
                <a href="javascript:;">&gt;</a>
            </div>
        </div>
    </article>
{% endblock content %}
