.center_content{
    overflow: visible;
}

.center_content .stitle{
    display: flex;
    justify-content: space-between;
}
.center_content .stitle h2{
    font-size: 35px;
    color: seagreen;
}

.center_content .stitle span{
    margin-top: 30px;
}

.center_content h3{
    font-size: 12px;
}

.center_content h3 span{
    font-size: 14px;
    color: seagreen;
}

.center_content h3 a{
    color: #46632b;
    text-decoration: none;
    margin: 0 3px;
}

.detail_content{
    min-height: 500px;
    font-size: 16px;
    background-color: rgba(131,175,155,0.2);
}

.detail_content pre{
    font-size: 16px;
}