p{                      /*为了让前端显示更好看*/
    margin: 0 0 16px;
    line-height: 26px;
}


.center_content{
    overflow: visible;
}

.center_content .stitle{
    display: flex;
    justify-content: space-between;
}
.center_content .stitle h2{
    font-size: 35px;
    color: seagreen;
}

.center_content .stitle span{
    margin-top: 30px;
}

.center_content h3{
    font-size: 12px;
}

.center_content h3 span{
    font-size: 14px;
    color: seagreen;
}

.center_content h3 a{
    color: #46632b;
    text-decoration: none;
    margin: 0 3px;
}

.detail_content{
    min-height: 500px;
    font-size: 18px;
    background-color: white;
    padding:20px;
    color:#4f4f4f;
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,SimHei,SimSun;
}

.detail_content img{
    margin:24px 0;
}

.detail_content pre{
    font-size: 16px;
}
