.subtitle{
    position:relative;
}

.subtitle h2{
    display: block;
    font-size: 22px;
    background-color: #46632b;
    padding: 10px 0;
    width: 200px;
    text-align: center;
    border-radius: 0 30px 30px 0;
    box-shadow:  1px 1px 3px #46632b;
    border-left: #dae1e4 6px solid;
    margin: 20px 0 0 30px;
    color:white;
}

.subtitle p{
    float: right;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 0;
    text-shadow: rgba(7, 84, 152, 0.71) 1px 1px 1px;
    color: #f9ffef;
}

.sort{
    margin:30px 0;
    padding-left:100px;
    list-style: none;
    overflow: hidden;
}

.sort li{
    padding: 0 30px;
    text-align: center;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    float: left;
    line-height: 38px;
    background: rgba(255,255,255,0.2);
    color: white;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.8;
}

.sort li:hover,.sort li:focus{
    opacity: 1;
}

.sort li:nth-child(1) {
    background: #F65087;
}

.sort li:nth-child(2) {
    background: #329768;
}

.sort li:nth-child(3) {
    background: #FB8052;
}

.sort li:nth-child(4) {
    background: #3693CA;
}

.sort li:nth-child(5) {
    background: #68C999;;
}

.sort li:nth-child(6) {
    background: #109691;
}

.tmtimeline{
    left: -30px;
}

.tmlabel{
    left: -40px;
    width: 110%;
    height: 230px;
}

.tmtime{
    width: 130px;
    margin: 0 0 0 10px;
}

/*小于1200px生效*/
@media (max-width: 1200px){
    .tmlabel{
        left: 0;
        height: 210px;
    }
}

/*小于992px生效*/
@media (max-width: 992px){
    .tmlabel{
         left: 0;
         width: 100%;
         height: 210px;
    }
}

/*小于768px生效*/
@media (max-width: 768px){
    .subtitle h2{
        margin: 10px 0 0 10px;
    }

    .sort{
        padding-left: 20px;
    }
    
    .sort li{
        font-size: 14px;
        line-height: 30px;
        padding:0 20px;
    }

    .tmtimeline{
        left: 0;
    }
    .tmlabel{
        width: 90%;
        float: right;
        height: auto;
    }
    .tmtime{
        width: 75px;
        margin: 0 0 0 -20px;
    }
}