.photowall {
    width: 95%;
    margin: 30px auto;
    overflow: hidden;
    margin-left: 60px;
}

.wall_a {
    margin: auto;
    background-color:#fafcfa;
    overflow: hidden;
    padding: 0;
}

.wall_a li {
    overflow: hidden ;
    height: 200px;
}

.wall_a li p a {
    color: #686868;
    text-decoration: none;
}

.photowall img {
    display: block;
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    width: 100%;
    height: 100%;
}

.text_a {
    line-height: 24px;
    padding: 30px 20px;
}

.text_b {
    line-height: 24px;
    padding: 40px 20px;
}

.wall_a li figcaption {
    position: absolute;
    left: 0;
    top: 10px;
}

.wall_a li h2 {
    font-size: 12px;
    line-height: 24px;
    padding: 40px;
    font-weight: normal;
    opacity: 0;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transform: scale(0);
    transform: scale(0);
    color: #666;
    overflow: hidden;
}

.wall_a li:hover h2 {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.wall_a li:hover img {
    opacity: 0.4;
}